* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: inherit
}

.d-none {
  display: none;
}

.flex {
  display: flex
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.border {
  border: 1px solid #e1e4e8;
}

.text-grey {
  color: #6a737d;
}

header {
  background-color: #24292e;
  .topnav {
    padding: 1rem;
    justify-content: space-between;
    .icon {
      color: #fff;
      &.menu-icon {
        font-size: 1.7rem;
      }
      &.github-icon{
        font-size: 1.7rem;
      }
    }
  }
  .header-items {
    margin-top: 5px;
    padding: 0 1rem 1rem;
    .header-search {
      margin-bottom: 1rem;
      #header-search-form {
        label {
          background: #24292e;
          color: #fff;
          input {
            width: 100%;
            color: inherit;
            background: none;
            border-radius: 6px;
            padding: 5px 0px 5px 5px;
            outline: none;
            border: 1px solid #444d56;
          }
        }
      }
    }
    .header-links {
      .header-link {
        padding: 8px 0 8px 0;
        color: #fff;
        font-size: 0.8rem;
        border-top: 1px solid #444d56;
        align-items: center;
        .fa-user-circle, .fa-sign-out-alt {
          font-size: 1.2rem;
          margin-right: 5px;
        }
      }
    }
  }
}

main {
  .user-profile {
    padding: 0.5rem 1rem;
    margin-bottom: 24px!important;
    .meta {
      grid-template-columns: 1fr 4fr;
      grid-gap: 10px;
      margin-bottom: 24px!important;
      .avatar {
        border-radius: 50%;
        width: calc(100% - 10px);  
      }
      .name {
        h1 {
          font-weight: 500;
          font-size: 26px;
          line-height: 1.25;      
        }
        p {
          color: #586069;
          font-size: 20px;
        }
      }
    }
    .action {
      border-radius: 6px;
      padding: 7px;
      &.status {
        margin-bottom: 8px!important;
        span {
          font-size: 12px;
          margin-left: 5px;
        }
      }
      &.edit-profile {
        margin-bottom: 16px;
        span {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
    .bio {
      margin-bottom: 16px!important;
    }
    .email {
      margin-bottom: 8px;
      span {
        margin-left: 5px;
      }
    }
    .counter {
      .users {
        font-size: 0.9rem;
        svg {
          margin-right: 5px;
        }
        span {
          &:nth-of-type(1), &:nth-of-type(3) {
            font-weight: 600;
          }
          &:nth-of-type(2), &:nth-of-type(4)  {
            color: #586069;
          }
          margin-right: 5px;
        }
      }
    }
  }

  .content {
    padding: 0.5rem 1rem;
    nav {
      ul {
        list-style: none;
        display: flex;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #d1d5da;
        overflow-x: scroll;
        li {
          a {
            padding: 8px 16px;
            font-size: 0.9rem;
          }
        }
      }
    }
    .repo-actions {
      padding-top: 16px!important;
      padding-bottom: 16px!important;
      .search {
        #search-repo-form {
          label {
            color: #000000;
            input {
              width: 100%;
              color: inherit;
              background: none;
              border-radius: 6px;
              padding: 8px 0px 8px 5px;
              outline: none;           
              border: 1px solid #e1e4e8;
            }
          }
        }
      }
    }
  }
}